.benefits {
  background-color: #1A5901;
    padding: 64px 16px;
}
.benefits .container {
  width: 100%;
  max-width: 343px;
  margin: 0 auto;
  box-sizing: border-box;
}
.benefits-images{
width: 343px;
height: 487px;
object-fit: cover;
  display: block;
  margin-bottom: 24px;
}
.benefits-title .title{
  font-family: 'Chivo';
font-weight: 400;
font-style: normal;
font-size: 36px;
line-height: 1.2;
letter-spacing: -0.01em;
color: #ffffff;
}
.benefits-title .text{
font-family: 'Public Sans';
font-weight: 400;
font-style: normal;
font-size: 18px;
line-height: 1.5;
letter-spacing: 0em;
color: #ffffff;
}
.benefits-item .subtitle{
font-family: 'Chivo';
font-weight: 400;
font-style: normal;
font-size: 20px;
line-height: 1.4;
letter-spacing: -0.01em;;
}
.benefits-item .text{
  font-family: 'Public Sans';
font-weight: 400;
font-style: normal;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0em;
}
.benefits-title{
    display: flex;
  flex-direction: column;
margin-bottom: 32px;
gap: 24px;
}
.benefits-list {
  display: flex;
  flex-direction: column;
  gap: 32px; 
   margin: 0;
  padding: 0;
  list-style: none;
}
.benefits-item {
  display: flex;
  flex-direction: column;
  gap: 16px; 
}
.benefits-title .title,
.benefits-title .text,
.benefits-item .subtitle,
.benefits-item .text {
  margin: 0;
}
@media screen and (min-width: 768px) {
  .benefits {
    padding: 64px 32px;
  }

  .benefits-images {
    width: 704px;
    height: 487px;
  }

  .benefits .container {
    max-width: 704px;
    margin: 0 auto;
    padding: 0;
  }

  .benefits-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 32px 16px;
  }

  .benefits-item {
    width: calc(50% - 16px);
  }
}
@media screen and (min-width: 1440px) {
  .benefits {
    padding: 112px 64px;
  }

  .benefits .container {
    max-width: 1312px;
    margin: 0 auto;
    padding: 0;
    display: flex;
    gap: 24px;
    align-items: stretch;
    box-sizing: border-box;
  }

  .benefits-images {
    width: 644px;
    height: 669px;
    margin-bottom: 0;
    flex-shrink: 0;
    display: block;
    object-fit: cover;
    object-position: center;
  }

  .benefits-info {
    flex: 1;
    padding-top: 25px;
    padding-bottom: 25px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
  }

  .benefits-title {
    margin-bottom: 32px;
    gap: 24px;
  }

  .benefits-list {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    margin: 0;
    padding: 0;
    list-style: none;
  }

  .benefits-item {
    flex-basis: calc((100% - 24px) / 2);
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  .benefits-title .title {
    font-size: 48px;
  }
}