@import './contact.css';
/* =========================
   RESET
========================= */

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
}

/* =========================
   BASE
========================= */

body {
  font-family: "Public Sans", sans-serif;
  color: #ffffff;
  background-color: #ffffff;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

svg {
  display: block;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

button {
  font-family: inherit;
  cursor: pointer;
  border: none;
  padding: 0;
  background: transparent;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Chivo", sans-serif;
}

/* =========================
   CONTAINER
========================= */

.container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}

/* =========================
   SECTIONS
========================= */

section {
  width: 100%;
}

/* =========================
   VISUALLY HIDDEN
========================= */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;

  clip: rect(0 0 0 0);
  clip-path: inset(50%);

  border: 0;
  padding: 0;
  white-space: nowrap;
}
