/* Styles for Mobile devices */

.container {
    width: 100%;
    margin: 0 auto;
    padding: 0 16px;
}

.mission {
    background-color: #5e8a4d;
    padding: 48px 0;
}
.mission .container {
    display: flex;
    flex-direction: column;
    gap: 32px;
}


.content-our-mission {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.title-our-mission {

    font-family: var(--second-family);
    font-size: 36px;
    line-height: 1.2;
    letter-spacing: -0.01em;
    color: #fff;
}

.text-our-mission {
    margin: 0;

    font-family: var(--font-family);
    font-size: 18px;
    line-height: 1.5;
    color: #fff;
}

.img-mission {
    display: block;
    width: 100%;
    height: auto;
}

/* Styles for Tablet devices */
@media screen and (min-width: 768px) {

    .container {
        max-width: 768px;
        padding: 0 32px;
    }

    .content-our-mission {
        flex-direction: row;
        gap: 24px;
    }

    .title-our-mission,
    .text-our-mission {
        width: calc((100% - 24px) / 2);
    }

   .img-mission {
       height: 396px;
       object-fit: cover;
   }
}
/* Styles for Desktop devices */
@media screen and (min-width: 1440px) {

    .container {
        max-width: 1440px;
        padding: 0 64px;
    }
    
    
    .mission {
        padding: 112px 64px;
        gap: 80px;
    }

    .title-our-mission {
        font-size: 48px;
    }

    .title-our-mission,
    .text-our-mission {
        width: calc((100% - 24px) / 2);
    }

    .img-mission {
        height: 738px;
        object-fit: cover;
    }
}
